.menu{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #467763;
    padding: 15px;
    font-size: 20px;
    font-family: 'Trebuchet MS';
    font-weight: 400;
    color: coral;
}

body{
    background-color: aquamarine
}
.grid{
    display: flexbox;
    justify-content: unsafe;
    flex-wrap:initial ;

}

.origami{
    background-color: whitesmoke;
    border-radius: 20px;
    width: 250px;
padding:30px;
margin: 25px;
}
.grid img{
    border: 5px solid orange;
    border-radius: 50px;
}

a:link{
    color: #eccc87;
}

a:visited{
color: #663994;
}

.oragami img:hover {
    transform: scale(1.2);
    opacity:0.2 ;
}



